# Visual Studio 관련 파일 무시
.vs/
*.suo
*.user
*.cache
*.pdb
*.ipch
*.obj
*.exe
*.lib
*.log
*.tlog
*.ilk
*.pch
*.sdf
*.aps
*.ncb
*.opendb
*.VC.db

# CMake 빌드 폴더
CMakeFiles/
CMakeCache.txt

# 빌드 폴더
Debug/
Release/
x64/
